<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <nav>
    <a class='btn btn-default' href='/sessions/new'>Log In</a>
    <a class='btn btn-default' href='/users/new'>Register</a>
  </nav>
  <div class='container'>
    <%for(i=0;i<allTattoos.length;i++){%>
      <div class='box'>
        <a href="/show/<%=i%>"><img class="img-thumbnail" src="<%=allTattoos[i].img%>" alt="<%=allTattoos[i].artist%>"></a>
      </div>
      <%}%>
    </div>
  <% include ./partials/footer.ejs%>
  </body>
  </html>
