<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <header>
  <div class="dropdown">
    <span class="dropbtn">Artists<span class="caret">
    <div class="dropdown-content">
      <a href="#">Charlie Vieregge</a><br/>
      <hr>
      <a href="#">Brad Clabaugh</a>
    </div>
  </div>
  <div class="dropdown">
    <span class="dropbtn">Studios<span class="caret">
    <div class="dropdown-content">
      <a href="#">Skin Hooked Tattoo and Piercing</a><br/>
      <hr>
      <a href="#">Thunder Bunny Tattoo Parlor</a>
    </div>
  </div>
  <div class="dropdown">
    <span class="dropbtn">Designs<span class="caret">
    <div class="dropdown-content">
      <a href="#">Flora</a><br/>
      <hr>
      <a href="#">Skulls</a>
    </div>
  </div>
  <ul class="session-links">
    <li><a href='/sessions/new'>Log In</a></li>
    <li><a href='/users/new'>Register</a></li>
  </ul>
</header>
  <br/>
  <div class='container'>
    <%for(i=0;i<allTattoos.length;i++){%>
      <div class='box'>
        <a href="/show/<%=i%>"><img class="img-thumbnail" src="<%=allTattoos[i].img%>" alt="<%=allTattoos[i].artist%>"></a>
      </div>
      <%}%>
    </div>
  <% include ./partials/footer.ejs%>
  </body>
  </html>
