<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <a href="/"><h1>Tattoo Heaven</h1></a>
  <header>
  <div class="dropdown artistsdropdown">
    <span class="dropbtn">Artists<span class="caret">
    <div class="dropdown-content artistscontent">
      <a href="/charlie">Charlie Vieregge</a><br/>
      <hr>
      <a href="/shawn">Shawn Hawks</a><br/>
      <hr>
      <a href="/brad">Brad Clabaugh</a><br/>
      <hr>
      <a href="/garrett">Garrett Hyatt</a><br/>
      <hr>
      <a href="/bobby">Bobby Avalos</a><br/>
      <hr>
      <a href="/eric">Eric Pierce</a><br/>
      <hr>
      <a href="/jim">Jim Kisor</a><br/>
      <hr>
      <a href="/joshua">Joshua Mullins</a>
    </div>
  </div>
  <div class="dropdown studiosdropdown">
    <span class="dropbtn">Studios<span class="caret">
    <div class="dropdown-content studioscontent">
      <a href="/skin-hooked">Skin Hooked Tattoo & Body Piercing</a><br/>
      <hr>
      <a href="/thunder-bunny">Thunder Bunny Tattoo Parlor</a><br/>
      <hr>
      <a href="/decorative-injections">Decorative Injections Tattooing & Body Piercing</a>
      <hr>
      <a href="/joshua-mullins">Joshua Mullins Tattooing</a>
    </div>
  </div>
  <div class="dropdown designsdropdown">
    <span class="dropbtn">Designs<span class="caret">
    <div class="dropdown-content designscontent">
      <a href="/skeletons">Skeletons</a><br/>
      <hr>
      <a href="/nature">Nature</a><br/>
      <hr>
      <a href="/abstract">Abstract</a>
      <hr>
      <a href="/sci-fi">Sci-Fi</a><br/>
      <hr>
      <a href="/religious">Religious</a>
    </div>
  </div>
  <ul class="session-links">
    <li><a href='/sessions/new'>Log In</a></li>
    <li><a class='register' href='/users/new'>Register</a></li>
  </ul>
</header>
  <br/>
  <div class='container'>
    <%for(i=0;i<allTattoos.length;i++){%>
      <div class='box'>
        <a href="/show/<%=allTattoos[i].index%>"><img class="img-thumbnail" src="<%=allTattoos[i].img%>" alt="<%=allTattoos[i].artist%>"></a>
      </div>
      <%}%>
    </div>
  <% include ./partials/footer.ejs%>
  </body>
  </html>
