/* For mobile/Default */
body {
  background: black;
  color: lightsteelblue;
}

h1{
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: 'Kalam', cursive;
}

header {
  background: black;
  display: flex;
  align-items: center;
  border-top: 1px solid lightsteelblue;
  border-bottom: 1px solid lightsteelblue;
}

.dropbtn {
  background-color: black;
  color: lightsteelblue;
  border: none;
  font-weight: bold;
}

.session-links {
list-style-type: none;
position: absolute;
left: 50%;
margin-left: 25px;
font-size: 10px;
}

li {
  display: inline;
  padding: 14px 20px;
  font-weight: bold;
}

li a {
  font-weight: bold;
  color: lightsteelblue;
}

.dropdown-content {
  display: none;
  background-color: black;
  border-top: none;
  padding: 10px 20px;
  width: 150px;
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.artistscontent {
  display: none;
}

.artistsdropdown:hover .artistscontent {
  display: block;
}

.studioscontent {
  display: none;
}

.studiosdropdown:hover .artistscontent {
  display: block;
}

.designscontent {
  display: none;
}

.designsdropdown:hover .artistscontent {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

.box {
  display: flex;
  width: 300px;
  height: 370px;
  justify-content: center;
  align-items: center;
}

.img-thumbnail {
  height: 300px;
  width: 200px;
  object-fit: cover;
  background-color: white;
  border: 1px solid lightsteelblue;
}

.save {
  width: 0px;
  position: relative;
  top: 60px;
}

.save-btn {
  position: relative;
  right: 192px;
  top: 280px;
  font-size: 10px;
  font-weight: bold;
  color:lightsteelblue;
  background-color: black;
  border: none;
}

.dropdown {
  float: left;
  font-size: 10px;
  padding: 10px 10px;
}

.my-collection {
position: relative;
right: 15px;
top: 15px;
}

.logout {
  background: black;
  border: none;
  position: relative;
  top: 10px;
}

.index-links {
  list-style-type: none;
  font-size: 10px;
}

.collection-links {
  list-style-type: none;
  font-size: 10px;
}

.display {
  width: 330px;
  display: flex;
  margin: 50px auto;
  border: 2px solid lightsteelblue;
}

.descriptors {
  font-family: 'Kalam', cursive;
  width: 330px;
  margin: 50px auto;
}

.back {
  margin-top: 15px;
  padding: 2px;
}

.save-button, .remove-button {
  margin-top: 15px;
  padding: 2px;
}

.buttons {
  width: 0px;
  position: relative;
  right: 165px;
  top: 350px;
  font-size: 10px;
  color: black;
}

.edit {
  padding: 2px;
  font-size: 10px;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  right: 80px;
  bottom: 16px;
}

.remove {
  position: relative;
  right: 10px;
  background-color: black;
  color: lightsteelblue;
  border: none;
  font-size: 10px;
  font-weight: bold;
}


.change, .create {
  margin-top: 10px;
  padding: 2px;
}

.form {
  font-family: 'Kalam', cursive;
  text-align: center;
  position: relative;
  color: black;
  border: 2px solid lightsteelblue;
  width: 300px;
  position: relative;
  margin: 30px auto;
  padding: 20px;
}

.editform {
  font-family: 'Kalam', cursive;
  text-align: center;
  position: relative;
  color: black;
  top: 20px;
  border: 2px solid lightsteelblue;
  position: relative;
  margin: 20px auto;
  padding: 20px;
}

.editimg {
  margin-top: 60px;
}

.title {
  color: lightsteelblue;
}

.input {
  margin: 10px;
}

.login {
  margin: 10px;
  margin-top: 25px;
  padding: 2px;
  position: relative;
  left: 73px;
}

a, a:hover {
  text-decoration: none;
  color: lightsteelblue;
}

.error {
  font-family: Arial;
  color: red;
}

.spaceholder {
  height: 230px;
}

footer {
  margin-top: 150px;
}

/* For desktop */
@media (min-width: 600px){

  h1 {
    font-size: 50px;
  }

  header {
    height: 70px;
    width: 100%;
    padding-left: 30px;
  }

  .session-links{
  position: absolute;
  left: 80%;
  width: 100%;
  padding: 20px 20px;
  font-size: 15px;
  }

  li {
    padding: 14px 20px;
  }

  .dropbtn {
    width: 100px;
  }

  .dropdown-content {
    padding: 10px 20px;
    width: 150px;
    position: absolute;
    z-index: 1;
  }

  .box {
    width: 300px;
    height: 370px;
  }

  .img-thumbnail {
    height: 300px;
    width: 200px;
  }

  .save {
    width: 0px;
    position: relative;
    top: 60px;
  }

  .save-btn {
    position: relative;
    right: 192px;
    top: 280px;
    font-size: 10px;
  }

  .display {
    width: 330px;
    display: flex;
    margin: 50px auto;
    border: 2px solid lightsteelblue;
  }

  .dropdown {
    padding: 10px 15px;
    font-size: 15px;
  }

  .index-links {
    position: absolute;
    left: 90%;
    width: 100%;
    padding: 20px 20px;
    font-size: 15px;
  }

  .collection-links {
    position: absolute;
    left: 35%;
    width: 100%;
    padding: 20px 20px;
    font-size: 15px;
  }

  .back {
    margin-top: 15px;
    padding: 2px;
  }

  .save-button, .remove-button {
    margin-top: 15px;
    padding: 2px;
  }

  .logout {
    margin-top: 10px;
    position: relative;
    top: 0px;
    right: 0px;
  }

  .my-collection {
  position: relative;
  right: 150px;
  top: 32px;
  }

  .buttons {
    width: 0px;
    position: relative;
    right: 165px;
    top: 350px;
    font-size: 10px;
  }

  .edit {
    padding: 2px;
    font-size: 10px;
    font-size: 10px;
    position: relative;
    right: 80px;
    bottom: 16px;
  }

  .remove {
    position: relative;
    right: 10px;
    font-size: 10px;
  }


  .change, .create {
    margin-top: 10px;
    padding: 2px;
  }

  .form {
    top: 40px;
    width: 300px;
    position: relative;
    margin: 0px auto;
    padding: 20px;
  }

  .editform {
    top: 20px;
    width: 300px;
    position: relative;
    padding: 20px;
  }

  .editimg {
    margin-top: 60px;
  }

  .input {
    margin: 10px;
  }

  .login {
    margin: 10px;
    margin-top: 25px;
    padding: 2px;
    position: relative;
    left: 73px;
  }

  .spaceholder {
    height: 230px;
  }

  footer {
    margin-top: 150px;
  }
}
