<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/head.ejs %>
  </head>
  <body>
<a href="/"><h1>Tattoo Heaven</h1></a>
<div class="form">
  <%if(flag){%>
    <span class="error"> Wrong Username or Password</span>
  <%}%>
  <form action="/sessions" method="POST">
    <span class="title">Username: </span><input class="input" type="text" name="username"><br/>
    <span class="title">Password: </span><input type="password" name="password"><br/>
    <input class="btn btn-default login" type="submit" value="Log In">
  </form>
</div>
<div class='spaceholder'></div>
  <% include ../partials/footer.ejs%>
  </body>
</html>
