<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/head.ejs %>
  </head>
  <body>
    <a href="/"><h1>Tattoo Heaven</h1></a>
    <div class="form">
      <%if(mistake){%>
        <span class="error">Enter a unique username and a password</span>
      <%}%>
    <form action="/users" method="POST">
      <input type="text" name="username" placeholder="Username"><br/>
      <input type="password" name="password" placeholder="Password"><br/>
      <input class="btn btn-default login" type="submit" value="Register">
    </form>
    </div>
  </body>
</html>
