<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/head.ejs %>
  </head>
  <body>
    <a href="/"><h1>Tattoo Heaven</h1></a>
    <fieldset class="form">
      <%if(mistake){%>
        <span class="error">Enter a unique username and a password</span>
      <%}%>
    <form action="/users" method="POST">
      <span class="title">Username:</span> <input class="input" type="text" name="username"><br/>
      <span class="title">Password:</span> <input type="password" name="password"><br/>
      <input class="btn btn-default login" type="submit" value="Register">
    </form>
  </fieldset>
    <div class="spaceholder"></div>
      <% include ../partials/footer.ejs%>
  </body>
</html>
