<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<% include ../partials/head.ejs %>
  </head>
  <body>
    <h1>Tattoo Heaven</h1>
    <div class="form">
    <form action="/tattoos/my-collection" method="POST">
      <span class="title">Artist:</span> <input class="input" type="text" name="artist"><br/>
      <span class="title">Studio:</span> <input class="input" type="text" name="studio"><br/>
      <span class="title">Date:</span> <input class="input" type="text" name="date"><br/>
      <span class="title">Image URL:</span> <input class="input" type="text" name="img"><br/>
      <input class="btn btn-default create" type="submit" value="Create New Item">
    </form>
    <a class="btn btn-default back" href="/tattoos/my-collection">Back</a>
  </div>
  <div class='spaceholder'></div>
    <% include ../partials/footer.ejs%>
  </body>
</html>
