<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>Tattoo Heaven</h1>
  <a href="/tattoos/my-collection">My Collection</a>
  <%for(i=0;i<allTattoos.length;i++){%>
    <div>
      <img src="<%=allTattoos[i].img%>" alt="<%=allTattoos[i].artist%>">
      <form action="/tattoos/my-collection/<%=i%>" method="POST">
          <input type="submit" value="Save">
      </form>
    </div>
  <%}%>
  <a href="/my-collection">My Collection</a>
</body>
</html>
